---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/candles/MN/fteth?token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":[{"open":0.000904000,"close":0.000565360,"high":0.000930000,"quote_vol":866076.288189974196720720,"id":1530374400,"count":3011075,"low":0.000489480,"seq":1749385600000,"base_vol":1394688128.613251550},{"id":1527782400,"seq":1136570100000,"high":0.002479900000000000,"low":0.000620950000000000,"open":0.001711000000000000,"close":0.000904000000000000,"count":6245555,"base_vol":21075468585.236243238000000000,"quote_vol":25608681.028049231103271870},{"id":1525104000,"seq":16079600000,"high":0.000375000000000000,"low":0.000210250000000000,"open":0.000341580000000000,"close":0.000254040000000000,"count":15424,"base_vol":52975193.232728081000000000,"quote_vol":16806.600884913316843300}]}'
  recorded_at: Sat, 14 Jul 2018 16:07:59 GMT
recorded_with: VCR 4.0.0
