---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/depth/L20/fteth
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":{"bids":[0.000471530,336.460000000,0.000471080,1303.030000000,0.000471070,544.930000000,0.000471060,306.200000000,0.000470650,6367.780000000,0.000470380,470.300000000,0.000470130,4.380000000,0.000470120,1446.010000000,0.000470110,15.870000000,0.000469990,263.110000000,0.000469980,196.300000000,0.000469000,4.000000000,0.000468800,3.370000000,0.000468710,2000.000000000,0.000468500,200.000000000,0.000468000,4.000000000,0.000467790,4.940000000,0.000467300,20.570000000,0.000467250,1000.000000000,0.000467120,200.000000000],"asks":[0.000471850,1062.205609000,0.000472620,3.420000000,0.000472630,455.464538400,0.000472820,4.000000000,0.000473000,200.000000000,0.000473310,10.230000000,0.000473490,1000.000000000,0.000473830,4.000000000,0.000474000,3.050000000,0.000474490,2074.250000000,0.000474500,200.000000000,0.000474630,1000.000000000,0.000474790,5.000000000,0.000474830,4.000000000,0.000475360,2491.958270000,0.000475390,5.000000000,0.000475450,104.000000000,0.000475590,10.200000000,0.000475610,10.230000000,0.000475680,10.270000000],"ts":1532156185014,"seq":20030698,"type":"depth.L20.fteth"}}'
  recorded_at: Sat, 21 Jul 2018 06:56:25 GMT
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/depth/invalid_level/fteth
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":40003,"msg":"invalid depth-level"}'
  recorded_at: Sat, 28 Jul 2018 11:13:04 GMT
recorded_with: VCR 4.0.0
