---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/ticker/fteth
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":{"ticker":[0.000470000,15.000000000,0.000469660,127.860000000,0.000469980,9940.530000000,0.000524760,0.000526320,0.000450700,511357160.802473631,256708.072462763145785920],"type":"ticker.fteth","seq":20030480}}'
  recorded_at: Sat, 21 Jul 2018 06:56:05 GMT
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/ticker/ftft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":40003,"msg":"invalid symbol"}'
  recorded_at: Sat, 21 Jul 2018 06:56:21 GMT
recorded_with: VCR 4.0.0
