---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/trades/fteth?token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"data":[{"amount":50.000000000,"ts":1531572926666,"id":17449441000,"side":"sell","price":0.000577270}]}'
  recorded_at: Sat, 14 Jul 2018 12:55:27 GMT
- request:
    method: get
    uri: https://api.fcoin.com/v2/market/trades/ftft?token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":40003,"msg":"invalid symbol"}'
  recorded_at: Sat, 14 Jul 2018 13:00:06 GMT
recorded_with: VCR 4.0.0
