---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/accounts/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1531670705438'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":0,"data":[{"currency":"maya","category":"gpm","available":"0.000000000000000000","frozen":"0.000000000000000000","balance":"0.000000000000000000"},{"currency":"gene","category":"gpm","available":"0.000000000000000000","frozen":"0.000000000000000000","balance":"0.000000000000000000"},{"currency":"fres","category":"gpm","available":"60.000000000000000000","frozen":"0.000000000000000000","balance":"60.000000000000000000"},{"currency":"oas","category":"gpm","available":"0.000000000000000000","frozen":"0.000000000000000000","balance":"0.000000000000000000"},{"currency":"tos","category":"gpm","available":"0.00000000000000[...]
