---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/accounts/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1532097977266'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":6005,"msg":"api key check fail : {\"status\":1020,\"msg\":\"api
        key not found : Fcoin API Public Key\"}"}'
  recorded_at: Fri, 20 Jul 2018 14:46:17 GMT
recorded_with: VCR 4.0.0
