---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders/nMEC_VrW0LYlP4iCcWzmdL50jFrvNWZoaQxvZSjeUSA=/submit-cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1531732819215'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":0}'
  recorded_at: Mon, 16 Jul 2018 09:20:19 GMT
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders/invalid_order_id/submit-cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1531733218787'
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1001,"msg":"bad argument: invalid_order_id"}'
  recorded_at: Mon, 16 Jul 2018 09:26:59 GMT
recorded_with: VCR 4.0.0
