---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"amount":3,"price":10,"side":"sell","symbol":"ftusdt","type":"limit"}'
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1533319937634'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":0,"data":"bBuPgVpi7CmX9bvNVVwWl7dUrW5E3LToYqhCKislqxI="}'
  recorded_at: Fri, 03 Aug 2018 18:12:18 GMT
recorded_with: VCR 4.0.0
