---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"amount":0.0001,"price":1000,"side":"invalid_side","symbol":"ethusdt","type":"limit"}'
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1533319969012'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":6005,"msg":"api key check fail : {\"status\":1090,\"msg\":\"Illegal
        API signature\"}"}'
  recorded_at: Fri, 03 Aug 2018 18:12:49 GMT
recorded_with: VCR 4.0.0
