---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"amount":0.001,"price":1000,"side":"sell","symbol":"ethusdt","type":"limit"}'
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1531714634993'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":6005,"msg":"api key check fail : {\"status\":1020,\"msg\":\"api
        key not found : Fcoin API Public Key\"}"}'
  recorded_at: Mon, 16 Jul 2018 04:17:15 GMT
recorded_with: VCR 4.0.0
