---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"amount":0.001,"price":1000,"side":"sell","symbol":"ethusdt","type":"limit"}'
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1531714333130'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":0,"data":"R0moy92q4Qaf_GDEQ6Y1IKCgl5wwJM2bz_Zyacp-Ek8="}'
  recorded_at: Mon, 16 Jul 2018 04:12:13 GMT
recorded_with: VCR 4.0.0
