---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"amount":10,"price":10,"side":"sell","symbol":"ftft","type":"limit"}'
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1533319967002'
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1004,"msg":"invalid symbol: ftft"}'
  recorded_at: Fri, 03 Aug 2018 18:12:47 GMT
recorded_with: VCR 4.0.0
