---
http_interactions:
- request:
    method: post
    uri: https://api.fcoin.com/v2/orders
    body:
      encoding: UTF-8
      string: '{"amount":3,"price":0,"side":"sell","symbol":"ftusdt","type":"market"}'
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1533321847071'
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":3033,"msg":"market order is disabled for symbol ftusdt"}'
  recorded_at: Fri, 03 Aug 2018 18:44:07 GMT
recorded_with: VCR 4.0.0
