---
http_interactions:
- request:
    method: get
    uri: https://api.fcoin.com/v2/orders?after&before&limit=20&states=canceled&symbol
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Fc-Access-Key:
      - "<Fc-Access-Key>"
      Fc-Access-Signature:
      - "<Fc-Access-Signature>"
      Fc-Access-Timestamp:
      - '1532777792075'
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":1003,"msg":"argument is not null: {0}"}'
  recorded_at: Sat, 28 Jul 2018 11:36:32 GMT
recorded_with: VCR 4.0.0
